In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("/home/pict/Downloads/sem6-main/DSBDAL/A2/StudentData.csv")

In [3]:
df2 = pd.read_csv("/home/pict/Downloads/sem6-main/DSBDAL/A2/AcademicPerformance.csv")

In [4]:
display(df1)

    S No.  Roll No              Name
0       1    31001      Kellie Arias
1       2    31002    Mickey Schultz
2       3    31003        Loyd Rubio
3       4    31004       Josef Burns
4       5    31005       Lisa Torres
5       6    31006   Reuben Davidson
6       7    31007      Brooks Hicks
7       8    31008     Leslie Pierce
8       9    31009      Deirdre Chen
9      10    31010      Daron Lawson
10     11    31011     Josefa Monroe
11     12    31012     Abraham Green
12     13    31013    Refugio Zuniga
13     14    31014     Jerrell Cline
14     15    31015          Dan Mora
15     16    31016    Maritza Miller
16     17    31017       Chase Owens
17     18    31018     Jonathan Sims
18     19    31019    Donovan Morrow
19     20    31020        Leta Olsen
20     21    31021   Randall Winters
21     22    31022         Jerold Li
22     23    31023      Hans Fleming
23     24    31024     Denise Juarez
24     25    31025  Elliott Figueroa
25     26    31026     Lionel Barker
26     27    31027         Erik Hart
27     28    31028     Kareem Rivers
28     29    31029     Janell Oliver
29     30    31030   Clinton Sweeney

In [6]:
display(df2)

    S No.  Roll No.  DBMS  CNS  DS  TOC  SPOS
0       1     31001    45   23  45   50    38
1       2     31002    33   34  33   40    39
2       3     31003    50   34  50   38    40
3       4     31004    40   42  40   36    35
4       5     31005    38   14  38   42    30
5       6     31006    36   13  36   34    46
6       7     31007    42   42  42   50    50
7       8     31008    34   23  34   45    38
8       9     31009    34   34  34   33    36
9      10     31010    43   38  43   50    42
10     11     31011    22   39  22   40    34
11     12     31012    41   40  41   38    23
12     13     31013    43   35  43   36    34
13     14     31014    23   30  23   42    34
14     15     31015    23   46  23   34    42
15     16     31016    34   50  34   45    14
16     17     31017    34   38  34   33    13
17     18     31018    42   36  42   50    42
18     19     31019    14   42  14   40    23
19     20     31020    13   34  13   38    34
20     21     31021    42   34  42   36    38
21     22     31022    23   43  23   42    39
22     23     31023    34   22  34   34    33
23     24     31024    38   41  38   50    50
24     25     31025    39   43  39   40    40
25     26     31026    40   23  40   38    38
26     27     31027    35   23  35   36    36
27     28     31028    30   34  30   42    42
28     29     31029    46   34  46   34    34
29     30     31030    50   42  50   10    34

In [8]:
pd.concat([df1, df2], axis=1)

,S No.,Roll No,Name,S No.,Roll No.,DBMS,CNS,DS,TOC,SPOS
0,1,31001,Kellie Arias,1,31001,45,23,45,50,38
1,2,31002,Mickey Schultz,2,31002,33,34,33,40,39
2,3,31003,Loyd Rubio,3,31003,50,34,50,38,40
3,4,31004,Josef Burns,4,31004,40,42,40,36,35
4,5,31005,Lisa Torres,5,31005,38,14,38,42,30
5,6,31006,Reuben Davidson,6,31006,36,13,36,34,46
6,7,31007,Brooks Hicks,7,31007,42,42,42,50,50
7,8,31008,Leslie Pierce,8,31008,34,23,34,45,38
8,9,31009,Deirdre Chen,9,31009,34,34,34,33,36
9,10,31010,Daron Lawson,10,31010,43,38,43,50,42
10,11,31011,Josefa Monroe,11,31011,22,39,22,40,34
11,12,31012,Abraham Green,12,31012,41,40,41,38,23
12,13,31013,Refugio Zuniga,13,31013,43,35,43,36,34
13,14,31014,Jerrell Cline,14,31014,23,30,23,42,34
14,15,31015,Dan Mora,15,31015,23,46,23,34,42
15,16,31016,Maritza Miller,16,31016,34,50,34,45,14
16,17,31017,Chase Owens,17,31017,34,38,34,33,13
17,18,31018,Jonathan Sims,18,31018,42,36,42,50,42
18,19,31019,Donovan Morrow,19,31019,14,42,14,40,23
19,20,31020,Leta Olsen,20,31020,13,34,13,38,34
20,21,31021,Randall Winters,21,31021,42,34,42,36,38
21,22,31022,Jerold Li,22,31022,23,43,23,42,39
22,23,31023,Hans Fleming,23,31023,34,22,34,34,33
23,24,31024,Denise Juarez,24,31024,38,41,38,50,50
24,25,31025,Elliott Figueroa,25,31025,39,43,39,40,40
25,26,31026,Lionel Barker,26,31026,40,23,40,38,38
26,27,31027,Erik Hart,27,31027,35,23,35,36,36
27,28,31028,Kareem Rivers,28,31028,30,34,30,42,42
28,29,31029,Janell Oliver,29,31029,46,34,46,34,34
29,30,31030,Clinton Sweeney,30,31030,50,42,50,10,34

In [10]:
pd.concat([df1, df2], axis=1).T.drop_duplicates().T

   S No. Roll No              Name DBMS CNS TOC SPOS
0      1   31001      Kellie Arias   45  23  50   38
1      2   31002    Mickey Schultz   33  34  40   39
2      3   31003        Loyd Rubio   50  34  38   40
3      4   31004       Josef Burns   40  42  36   35
4      5   31005       Lisa Torres   38  14  42   30
5      6   31006   Reuben Davidson   36  13  34   46
6      7   31007      Brooks Hicks   42  42  50   50
7      8   31008     Leslie Pierce   34  23  45   38
8      9   31009      Deirdre Chen   34  34  33   36
9     10   31010      Daron Lawson   43  38  50   42
10    11   31011     Josefa Monroe   22  39  40   34
11    12   31012     Abraham Green   41  40  38   23
12    13   31013    Refugio Zuniga   43  35  36   34
13    14   31014     Jerrell Cline   23  30  42   34
14    15   31015          Dan Mora   23  46  34   42
15    16   31016    Maritza Miller   34  50  45   14
16    17   31017       Chase Owens   34  38  33   13
17    18   31018     Jonathan Sims   42  36  50   42
18    19   31019    Donovan Morrow   14  42  40   23
19    20   31020        Leta Olsen   13  34  38   34
20    21   31021   Randall Winters   42  34  36   38
21    22   31022         Jerold Li   23  43  42   39
22    23   31023      Hans Fleming   34  22  34   33
23    24   31024     Denise Juarez   38  41  50   50
24    25   31025  Elliott Figueroa   39  43  40   40
25    26   31026     Lionel Barker   40  23  38   38
26    27   31027         Erik Hart   35  23  36   36
27    28   31028     Kareem Rivers   30  34  42   42
28    29   31029     Janell Oliver   46  34  34   34
29    30   31030   Clinton Sweeney   50  42  10   34

In [11]:
display(pd.merge(df1, df2))

    S No.  Roll No              Name  Roll No.  DBMS  CNS  DS  TOC  SPOS
0       1    31001      Kellie Arias     31001    45   23  45   50    38
1       2    31002    Mickey Schultz     31002    33   34  33   40    39
2       3    31003        Loyd Rubio     31003    50   34  50   38    40
3       4    31004       Josef Burns     31004    40   42  40   36    35
4       5    31005       Lisa Torres     31005    38   14  38   42    30
5       6    31006   Reuben Davidson     31006    36   13  36   34    46
6       7    31007      Brooks Hicks     31007    42   42  42   50    50
7       8    31008     Leslie Pierce     31008    34   23  34   45    38
8       9    31009      Deirdre Chen     31009    34   34  34   33    36
9      10    31010      Daron Lawson     31010    43   38  43   50    42
10     11    31011     Josefa Monroe     31011    22   39  22   40    34
11     12    31012     Abraham Green     31012    41   40  41   38    23
12     13    31013    Refugio Zuniga     31013    43   35  43   36    34
13     14    31014     Jerrell Cline     31014    23   30  23   42    34
14     15    31015          Dan Mora     31015    23   46  23   34    42
15     16    31016    Maritza Miller     31016    34   50  34   45    14
16     17    31017       Chase Owens     31017    34   38  34   33    13
17     18    31018     Jonathan Sims     31018    42   36  42   50    42
18     19    31019    Donovan Morrow     31019    14   42  14   40    23
19     20    31020        Leta Olsen     31020    13   34  13   38    34
20     21    31021   Randall Winters     31021    42   34  42   36    38
21     22    31022         Jerold Li     31022    23   43  23   42    39
22     23    31023      Hans Fleming     31023    34   22  34   34    33
23     24    31024     Denise Juarez     31024    38   41  38   50    50
24     25    31025  Elliott Figueroa     31025    39   43  39   40    40
25     26    31026     Lionel Barker     31026    40   23  40   38    38
26     27    31027         Erik Hart     31027    35   23  35   36    36
27     28    31028     Kareem Rivers     31028    30   34  30   42    42
28     29    31029     Janell Oliver     31029    46   34  46   34    34
29     30    31030   Clinton Sweeney     31030    50   42  50   10    34

In [14]:
display(pd.merge(df1, df2).T.drop_duplicates().T)

   S No. Roll No              Name DBMS CNS TOC SPOS
0      1   31001      Kellie Arias   45  23  50   38
1      2   31002    Mickey Schultz   33  34  40   39
2      3   31003        Loyd Rubio   50  34  38   40
3      4   31004       Josef Burns   40  42  36   35
4      5   31005       Lisa Torres   38  14  42   30
5      6   31006   Reuben Davidson   36  13  34   46
6      7   31007      Brooks Hicks   42  42  50   50
7      8   31008     Leslie Pierce   34  23  45   38
8      9   31009      Deirdre Chen   34  34  33   36
9     10   31010      Daron Lawson   43  38  50   42
10    11   31011     Josefa Monroe   22  39  40   34
11    12   31012     Abraham Green   41  40  38   23
12    13   31013    Refugio Zuniga   43  35  36   34
13    14   31014     Jerrell Cline   23  30  42   34
14    15   31015          Dan Mora   23  46  34   42
15    16   31016    Maritza Miller   34  50  45   14
16    17   31017       Chase Owens   34  38  33   13
17    18   31018     Jonathan Sims   42  36  50   42
18    19   31019    Donovan Morrow   14  42  40   23
19    20   31020        Leta Olsen   13  34  38   34
20    21   31021   Randall Winters   42  34  36   38
21    22   31022         Jerold Li   23  43  42   39
22    23   31023      Hans Fleming   34  22  34   33
23    24   31024     Denise Juarez   38  41  50   50
24    25   31025  Elliott Figueroa   39  43  40   40
25    26   31026     Lionel Barker   40  23  38   38
26    27   31027         Erik Hart   35  23  36   36
27    28   31028     Kareem Rivers   30  34  42   42
28    29   31029     Janell Oliver   46  34  34   34
29    30   31030   Clinton Sweeney   50  42  10   34

In [18]:
display(pd.merge(df1, df2, how="left",indicator = True))

,S No.,Roll No,Name,Roll No.,DBMS,CNS,DS,TOC,SPOS,_merge
0,1,31001,Kellie Arias,31001,45,23,45,50,38,both
1,2,31002,Mickey Schultz,31002,33,34,33,40,39,both
2,3,31003,Loyd Rubio,31003,50,34,50,38,40,both
3,4,31004,Josef Burns,31004,40,42,40,36,35,both
4,5,31005,Lisa Torres,31005,38,14,38,42,30,both
5,6,31006,Reuben Davidson,31006,36,13,36,34,46,both
6,7,31007,Brooks Hicks,31007,42,42,42,50,50,both
7,8,31008,Leslie Pierce,31008,34,23,34,45,38,both
8,9,31009,Deirdre Chen,31009,34,34,34,33,36,both
9,10,31010,Daron Lawson,31010,43,38,43,50,42,both
10,11,31011,Josefa Monroe,31011,22,39,22,40,34,both
11,12,31012,Abraham Green,31012,41,40,41,38,23,both
12,13,31013,Refugio Zuniga,31013,43,35,43,36,34,both
13,14,31014,Jerrell Cline,31014,23,30,23,42,34,both
14,15,31015,Dan Mora,31015,23,46,23,34,42,both
15,16,31016,Maritza Miller,31016,34,50,34,45,14,both
16,17,31017,Chase Owens,31017,34,38,34,33,13,both
17,18,31018,Jonathan Sims,31018,42,36,42,50,42,both
18,19,31019,Donovan Morrow,31019,14,42,14,40,23,both
19,20,31020,Leta Olsen,31020,13,34,13,38,34,both
20,21,31021,Randall Winters,31021,42,34,42,36,38,both
21,22,31022,Jerold Li,31022,23,43,23,42,39,both
22,23,31023,Hans Fleming,31023,34,22,34,34,33,both
23,24,31024,Denise Juarez,31024,38,41,38,50,50,both
24,25,31025,Elliott Figueroa,31025,39,43,39,40,40,both
25,26,31026,Lionel Barker,31026,40,23,40,38,38,both
26,27,31027,Erik Hart,31027,35,23,35,36,36,both
27,28,31028,Kareem Rivers,31028,30,34,30,42,42,both
28,29,31029,Janell Oliver,31029,46,34,46,34,34,both
29,30,31030,Clinton Sweeney,31030,50,42,50,10,34,both

In [19]:
display(pd.merge(df1, df2, how="right",indicator = True))

,S No.,Roll No,Name,Roll No.,DBMS,CNS,DS,TOC,SPOS,_merge
0,1,31001,Kellie Arias,31001,45,23,45,50,38,both
1,2,31002,Mickey Schultz,31002,33,34,33,40,39,both
2,3,31003,Loyd Rubio,31003,50,34,50,38,40,both
3,4,31004,Josef Burns,31004,40,42,40,36,35,both
4,5,31005,Lisa Torres,31005,38,14,38,42,30,both
5,6,31006,Reuben Davidson,31006,36,13,36,34,46,both
6,7,31007,Brooks Hicks,31007,42,42,42,50,50,both
7,8,31008,Leslie Pierce,31008,34,23,34,45,38,both
8,9,31009,Deirdre Chen,31009,34,34,34,33,36,both
9,10,31010,Daron Lawson,31010,43,38,43,50,42,both
10,11,31011,Josefa Monroe,31011,22,39,22,40,34,both
11,12,31012,Abraham Green,31012,41,40,41,38,23,both
12,13,31013,Refugio Zuniga,31013,43,35,43,36,34,both
13,14,31014,Jerrell Cline,31014,23,30,23,42,34,both
14,15,31015,Dan Mora,31015,23,46,23,34,42,both
15,16,31016,Maritza Miller,31016,34,50,34,45,14,both
16,17,31017,Chase Owens,31017,34,38,34,33,13,both
17,18,31018,Jonathan Sims,31018,42,36,42,50,42,both
18,19,31019,Donovan Morrow,31019,14,42,14,40,23,both
19,20,31020,Leta Olsen,31020,13,34,13,38,34,both
20,21,31021,Randall Winters,31021,42,34,42,36,38,both
21,22,31022,Jerold Li,31022,23,43,23,42,39,both
22,23,31023,Hans Fleming,31023,34,22,34,34,33,both
23,24,31024,Denise Juarez,31024,38,41,38,50,50,both
24,25,31025,Elliott Figueroa,31025,39,43,39,40,40,both
25,26,31026,Lionel Barker,31026,40,23,40,38,38,both
26,27,31027,Erik Hart,31027,35,23,35,36,36,both
27,28,31028,Kareem Rivers,31028,30,34,30,42,42,both
28,29,31029,Janell Oliver,31029,46,34,46,34,34,both
29,30,31030,Clinton Sweeney,31030,50,42,50,10,34,both

In [21]:
display(pd.merge(df1, df2, how="left",indicator = True, validate = 'one_to_many'))

,S No.,Roll No,Name,Roll No.,DBMS,CNS,DS,TOC,SPOS,_merge
0,1,31001,Kellie Arias,31001,45,23,45,50,38,both
1,2,31002,Mickey Schultz,31002,33,34,33,40,39,both
2,3,31003,Loyd Rubio,31003,50,34,50,38,40,both
3,4,31004,Josef Burns,31004,40,42,40,36,35,both
4,5,31005,Lisa Torres,31005,38,14,38,42,30,both
5,6,31006,Reuben Davidson,31006,36,13,36,34,46,both
6,7,31007,Brooks Hicks,31007,42,42,42,50,50,both
7,8,31008,Leslie Pierce,31008,34,23,34,45,38,both
8,9,31009,Deirdre Chen,31009,34,34,34,33,36,both
9,10,31010,Daron Lawson,31010,43,38,43,50,42,both
10,11,31011,Josefa Monroe,31011,22,39,22,40,34,both
11,12,31012,Abraham Green,31012,41,40,41,38,23,both
12,13,31013,Refugio Zuniga,31013,43,35,43,36,34,both
13,14,31014,Jerrell Cline,31014,23,30,23,42,34,both
14,15,31015,Dan Mora,31015,23,46,23,34,42,both
15,16,31016,Maritza Miller,31016,34,50,34,45,14,both
16,17,31017,Chase Owens,31017,34,38,34,33,13,both
17,18,31018,Jonathan Sims,31018,42,36,42,50,42,both
18,19,31019,Donovan Morrow,31019,14,42,14,40,23,both
19,20,31020,Leta Olsen,31020,13,34,13,38,34,both
20,21,31021,Randall Winters,31021,42,34,42,36,38,both
21,22,31022,Jerold Li,31022,23,43,23,42,39,both
22,23,31023,Hans Fleming,31023,34,22,34,34,33,both
23,24,31024,Denise Juarez,31024,38,41,38,50,50,both
24,25,31025,Elliott Figueroa,31025,39,43,39,40,40,both
25,26,31026,Lionel Barker,31026,40,23,40,38,38,both
26,27,31027,Erik Hart,31027,35,23,35,36,36,both
27,28,31028,Kareem Rivers,31028,30,34,30,42,42,both
28,29,31029,Janell Oliver,31029,46,34,46,34,34,both
29,30,31030,Clinton Sweeney,31030,50,42,50,10,34,both

In [22]:
display(pd.merge(df1, df2, how="inner",indicator = True, validate = 'one_to_many'))

,S No.,Roll No,Name,Roll No.,DBMS,CNS,DS,TOC,SPOS,_merge
0,1,31001,Kellie Arias,31001,45,23,45,50,38,both
1,2,31002,Mickey Schultz,31002,33,34,33,40,39,both
2,3,31003,Loyd Rubio,31003,50,34,50,38,40,both
3,4,31004,Josef Burns,31004,40,42,40,36,35,both
4,5,31005,Lisa Torres,31005,38,14,38,42,30,both
5,6,31006,Reuben Davidson,31006,36,13,36,34,46,both
6,7,31007,Brooks Hicks,31007,42,42,42,50,50,both
7,8,31008,Leslie Pierce,31008,34,23,34,45,38,both
8,9,31009,Deirdre Chen,31009,34,34,34,33,36,both
9,10,31010,Daron Lawson,31010,43,38,43,50,42,both
10,11,31011,Josefa Monroe,31011,22,39,22,40,34,both
11,12,31012,Abraham Green,31012,41,40,41,38,23,both
12,13,31013,Refugio Zuniga,31013,43,35,43,36,34,both
13,14,31014,Jerrell Cline,31014,23,30,23,42,34,both
14,15,31015,Dan Mora,31015,23,46,23,34,42,both
15,16,31016,Maritza Miller,31016,34,50,34,45,14,both
16,17,31017,Chase Owens,31017,34,38,34,33,13,both
17,18,31018,Jonathan Sims,31018,42,36,42,50,42,both
18,19,31019,Donovan Morrow,31019,14,42,14,40,23,both
19,20,31020,Leta Olsen,31020,13,34,13,38,34,both
20,21,31021,Randall Winters,31021,42,34,42,36,38,both
21,22,31022,Jerold Li,31022,23,43,23,42,39,both
22,23,31023,Hans Fleming,31023,34,22,34,34,33,both
23,24,31024,Denise Juarez,31024,38,41,38,50,50,both
24,25,31025,Elliott Figueroa,31025,39,43,39,40,40,both
25,26,31026,Lionel Barker,31026,40,23,40,38,38,both
26,27,31027,Erik Hart,31027,35,23,35,36,36,both
27,28,31028,Kareem Rivers,31028,30,34,30,42,42,both
28,29,31029,Janell Oliver,31029,46,34,46,34,34,both
29,30,31030,Clinton Sweeney,31030,50,42,50,10,34,both

In [23]:
display(pd.merge(df1, df2, how="outer",indicator = True, validate = 'one_to_many'))

,S No.,Roll No,Name,Roll No.,DBMS,CNS,DS,TOC,SPOS,_merge
0,1,31001,Kellie Arias,31001,45,23,45,50,38,both
1,2,31002,Mickey Schultz,31002,33,34,33,40,39,both
2,3,31003,Loyd Rubio,31003,50,34,50,38,40,both
3,4,31004,Josef Burns,31004,40,42,40,36,35,both
4,5,31005,Lisa Torres,31005,38,14,38,42,30,both
5,6,31006,Reuben Davidson,31006,36,13,36,34,46,both
6,7,31007,Brooks Hicks,31007,42,42,42,50,50,both
7,8,31008,Leslie Pierce,31008,34,23,34,45,38,both
8,9,31009,Deirdre Chen,31009,34,34,34,33,36,both
9,10,31010,Daron Lawson,31010,43,38,43,50,42,both
10,11,31011,Josefa Monroe,31011,22,39,22,40,34,both
11,12,31012,Abraham Green,31012,41,40,41,38,23,both
12,13,31013,Refugio Zuniga,31013,43,35,43,36,34,both
13,14,31014,Jerrell Cline,31014,23,30,23,42,34,both
14,15,31015,Dan Mora,31015,23,46,23,34,42,both
15,16,31016,Maritza Miller,31016,34,50,34,45,14,both
16,17,31017,Chase Owens,31017,34,38,34,33,13,both
17,18,31018,Jonathan Sims,31018,42,36,42,50,42,both
18,19,31019,Donovan Morrow,31019,14,42,14,40,23,both
19,20,31020,Leta Olsen,31020,13,34,13,38,34,both
20,21,31021,Randall Winters,31021,42,34,42,36,38,both
21,22,31022,Jerold Li,31022,23,43,23,42,39,both
22,23,31023,Hans Fleming,31023,34,22,34,34,33,both
23,24,31024,Denise Juarez,31024,38,41,38,50,50,both
24,25,31025,Elliott Figueroa,31025,39,43,39,40,40,both
25,26,31026,Lionel Barker,31026,40,23,40,38,38,both
26,27,31027,Erik Hart,31027,35,23,35,36,36,both
27,28,31028,Kareem Rivers,31028,30,34,30,42,42,both
28,29,31029,Janell Oliver,31029,46,34,46,34,34,both
29,30,31030,Clinton Sweeney,31030,50,42,50,10,34,both

In [27]:
 df1.join(df2, rsuffix=" ", lsuffix=" ")

,S No.,Roll No,Name,S No.,Roll No.,DBMS,CNS,DS,TOC,SPOS
0,1,31001,Kellie Arias,1,31001,45,23,45,50,38
1,2,31002,Mickey Schultz,2,31002,33,34,33,40,39
2,3,31003,Loyd Rubio,3,31003,50,34,50,38,40
3,4,31004,Josef Burns,4,31004,40,42,40,36,35
4,5,31005,Lisa Torres,5,31005,38,14,38,42,30
5,6,31006,Reuben Davidson,6,31006,36,13,36,34,46
6,7,31007,Brooks Hicks,7,31007,42,42,42,50,50
7,8,31008,Leslie Pierce,8,31008,34,23,34,45,38
8,9,31009,Deirdre Chen,9,31009,34,34,34,33,36
9,10,31010,Daron Lawson,10,31010,43,38,43,50,42
10,11,31011,Josefa Monroe,11,31011,22,39,22,40,34
11,12,31012,Abraham Green,12,31012,41,40,41,38,23
12,13,31013,Refugio Zuniga,13,31013,43,35,43,36,34
13,14,31014,Jerrell Cline,14,31014,23,30,23,42,34
14,15,31015,Dan Mora,15,31015,23,46,23,34,42
15,16,31016,Maritza Miller,16,31016,34,50,34,45,14
16,17,31017,Chase Owens,17,31017,34,38,34,33,13
17,18,31018,Jonathan Sims,18,31018,42,36,42,50,42
18,19,31019,Donovan Morrow,19,31019,14,42,14,40,23
19,20,31020,Leta Olsen,20,31020,13,34,13,38,34
20,21,31021,Randall Winters,21,31021,42,34,42,36,38
21,22,31022,Jerold Li,22,31022,23,43,23,42,39
22,23,31023,Hans Fleming,23,31023,34,22,34,34,33
23,24,31024,Denise Juarez,24,31024,38,41,38,50,50
24,25,31025,Elliott Figueroa,25,31025,39,43,39,40,40
25,26,31026,Lionel Barker,26,31026,40,23,40,38,38
26,27,31027,Erik Hart,27,31027,35,23,35,36,36
27,28,31028,Kareem Rivers,28,31028,30,34,30,42,42
28,29,31029,Janell Oliver,29,31029,46,34,46,34,34
29,30,31030,Clinton Sweeney,30,31030,50,42,50,10,34

In [36]:
dfmerge = pd.merge(df1, df2).T.drop_duplicates().T

In [30]:
dfmerge.sum()

S No.                                                    465
Roll No                                               930465
 Name      Kellie AriasMickey SchultzLoyd RubioJosef Burn...
DBMS                                                    1061
CNS                                                     1026
TOC                                                     1176
SPOS                                                    1071
dtype: object

In [37]:
dfmerge['total'] = dfmerge['DBMS']+ dfmerge['CNS'] + dfmerge['DS'] + dfmerge['TOC'] + dfmerge['SPOS']

KeyError: 'DS'